.contact-icon{
	
	height : 100px;
	width : 100px;
	
}

.Contact-panel-image{
	text-align: center;
}

.Contact-panel-content{
	text-align: center;
}

.btn-round{
	border-radius: 25px;
	border: 1px solid black;
}

.modal-title{
	font-size: large;
	font-weight: bold;
}